<html>
    <head>
        <title>Adventure Game</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <h1>Adventural: Inferno Disaster</h1>
        <p>Going to school Aryu Shore High, you wouldn't expect anything interesting to happen. But when a mysterious fire takes place in your school, you are pulled into an exilerating fight for survial like no other.
        </p>
        <form method = 'POST' action = '/results.html'>
            To start, enter your First Name
            <br>
            <input type="text" name="userName" />
            <br>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>