<!DOCTYPE html>
<html>
    <head>
        <h1>What Next!?</h1>
    </head>
    <body>
        <p> As you run through the hallway, it starts to get smokey. It gets very hard to run on foot, so you start to crawl where there's less smoke. But, you look behind you and the flames have engulfed your classroom and are starting to creep towards you. You don't know if you can make it in time to the stairwell becuase of your slow pace from crawing and the lack of air. To your right, the elevator is at your floor, ready to open at the puch of a button. The stairway on the other hand is further down the hallway. Where do you go? What do you do?</p><br><br>
    <form action="decision3b" method="POST">
      <select name="decision">
        Where do you go and what do you do?
        <option value="option01">##### Select an option bellow #####</option>
        <option value="option02">You get right into the elevator</option>
        <option value="option03">You make your way towards the stairs again</option>
      </select>
      <br><br>
      <input type="submit">
    </form>
        
        
    </body>
</html> 