<!DOCTYPE html>
<html>
    <head>
        <h1>Fire!</h1>
    </head>
    <body>
        <p>  <span>{{userName}}</span>, walked up to school. It was a boring orning bright and early morning. Waking up, getting dressed and eating breakfast, you were out the door on your way to the golden gates of Aryu Shore High. As you enter, you see students doing their own thing. You walk into your first period class, trigonometry with Dr. Radius.  
        </p>
    </body>
</html>
<br>
    <form action="/routes3.py">
  <select name="decision">
    <option value="option 1">You leave the building by jumping out the bathroom window.</option>
    <option value="option 2">You run down the hall to the stairway</option>
  </select>
  <br><br>
  <input type="submit">
</form>
