<!DOCTYPE html>

<html>
    <head>
        <h1>The Cops</h1>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />

    </head>
    <body>
        <p>Entering the abandoned store, you immediately start to grab whatever snack you can find on the shelves. As you shove as much as you can inside your pockets, your eyes glance over the cash register. Walking towards the counter, you take as much money you need to catch a bus and enough to splurge. Time goes by and your hear police sirens in front of the store. Not sure what to do, you immediately freeze with your hands up. The police arrive and handcuff you. You are driven to the station wondering if you can ever get home. 
        
        </p><br><br>
    </body>
</html>