<!DOCTYPE html>
<html>
    <head>
        <h1>Out of the Building!</h1>
        <link rel="stylesheet" href="/static/style.css" type="text/css" />

    </head>
    <body>
        <p>You wandered in the vacant streets with no cell service and civilization in sight. It was getting dark and cold. No cabs passing in the street, you were hungry with no money in your pockets. Your bag was still at school, and you had no jacket or coat to keep you , and you don't know if your friends were okay. Suddenly, you see a little conveniece store. As you get closer, you realize that no one is inside the store.  </p><br><br>
     <form action="decision3d" method="POST">
      <select name="decision">
        Where do you go and what do you do?
        <option value="option01">##### Select an option bellow #####</option>
        <option value="option02">You keep walking to find food somewhere else.</option>
        <option value="option03">You enter the store.</option>
      </select>
      <br><br>
      <input type="submit">
    </form>
        
        
    </body>
</html> 